doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles.css")
        title Document
    body.m-4.bg-dark 
        .container-xxl.container-fluid.rounded-3.overflow-hidden.bg-white          
            .row 
                .col-4.border-end.px-0
                    include header.pug  
                    aside.px-4.pb-5 
                        h2.mt-5.mb-4 Контакты
                        input.px-4.w-100.border-0.border-bottom(style="height: 72px;", placeholder="Поиск по контактам") 