include header.pug

doctype html
html.h-100(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")
        title Document2 
    body.h-100.p-0.p-md-4.overflow-hidden(style="background-color: #EFEFEF")
        .container-xxl.container-fluid.border-radius-md-4.overflow-hidden.bg-white.h-100      
            .row.h-100 
                .col-12.col-md-4.c-border-right-md-1.c-color-fancy.px-0.overflow-auto.h-100.scrollbar-hidden
                    +header({ withMessages: true })
                    aside
                        .tab-content
                            .tab-pane.active(id="contacts-tab") 
                                include contacts.pug
                            .tab-pane(id="chats-tab") 
                                include chats.pug
                            .tab-pane(id="profile-tab") 
                                include profile.pug
                            .tab-pane(id="current-chat-tab")
                                include current-chat.pug
                .d-none.d-md-block.col-md-8.overflow-auto.h-100.px-0
                    include current-chat.pug
                                