-
    var contacts = {
        "A": [{
            name: "Алексей Примадонин",
            status: "Онлайн",
            avatar: "images/avatar_3.jpg"
        }],

        "В": [{
            name: "Вениамин Редакторович",
            status: "Онлайн",
            avatar: "images/avatar_4.jpg"
        }],

        "Д": [{
            name: "Джедай Падаванов",
            status: "Был онлайн вчера",
            avatar: "images/avatar_2.jpg"
        }],

        "К": [{
            name: "Кодовёнок Хекслетович",
            status: "Был онлайн 3 часа назад",
            avatar: "images/avatar_1.jpg"
        },
        {
            name: "Королева Верстальщина",
            status: "Была онлайн вчера",
            avatar: "images/avatar_5.jpg"
        }],

        "П": [{
            name: "Питонист Джангович",
            status: "Был онлайн вчера",
            avatar: "images/avatar_6.jpg"
        }],
    }

.pt-5.px-4.pb-5.pb-md-5.mb-5.mb-md-0
    h2.fw-bold.mb-4 Контакты
    input.px-4.w-100.border-0.border-bottom(style="height: 72px;", placeholder="Поиск по контактам")
    each people, letter in contacts
        p.mb-3.text-muted.mt-5= letter
        div
            each contact, index in people
                a.d-flex.align-items-center.gap-4.px-3.py-4.text-decoration-none.contact.shadow-sm
                    img.rounded-circle(src= contact.avatar, alt= contact.name, style="width: 50px; height: 50px;")
                    div 
                        h6.m-0.lh-base= contact.name
                        p.m-0.small= contact.status 
