.d-flex.flex-column.position-relative.h-100
  header.d-flex.gap-4.align-items-center.sticky-top.bg-white.px-3.border-bottom.flex-shrink-0(style="height: 94px")
      img.rounded-circle(src="images/avatar_4.jpg", alt="", style="width: 50px; height: 50px;")
      div 
          h6.m-0.fw-bold.lh-base Вениамин Редакторович 
          p.m-0.small.text-muted Онлайн                            
  main.flex-grow-1.pt-5.px-5.pb-5.pb-md-0.mb-5.mb-md-0
      div.d-flex.gap-3.align-items-end.mb-3
          img.d-none.d-md-block.shadow-sm.rounded-circle(src="images/avatar_4.jpg", alt="", style="width: 50px; height: 50px;")
          div.bg-light.shadow-sm.rounded-4.p-4(style="max-width: 558px;") 
              h6.fw-bold.lh-base.mb-1 Вениамин Редакторович 
              p.text-muted.lh-base.mb-2 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
              div.border-top.pt-1(style="border-color: #EFEFEF !important")
                  p.small.m-0.text-muted(style="opacity: .6") 8 минут назад 
      div.d-flex.gap-3.align-items-end.justify-content-end.mb-3 
          img.d-none.d-md-block.shadow-sm.rounded-circle(src="images/avatar_1_1.svg", alt="", style="width: 50px; height: 50px")
          div.bg-primary.shadow-sm.rounded-4.p-4(style="max-width: 558px;") 
              p.text-light.lh-base.mb-2 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
              div.border-top.pt-1(style="border-color: #EFEFEF; opacity: .6")
                  p.small.m-0.text-white 8 минут назад                            
      div.d-flex.gap-3.align-items-end.mb-3
          img.d-none.d-md-block.shadow-sm.rounded-circle(src="images/avatar_4.jpg", alt="", style="width: 50px; height: 50px;")
          div.bg-light.shadow-sm.rounded-4.p-4(style="max-width: 558px;") 
              h6.fw-bold.lh-base.mb-1 Вениамин Редакторович
              p.text-muted.lh-base.mb-2 Лады
              div.border-top.pt-1(style="border-color: #EFEFEF !important")
                  p.small.m-0.text-muted(style="opacity: .6") 5 минут назад
      div.d-flex.gap-3.align-items-end.justify-content-end.mb-3 
          img.d-none.d-md-block.shadow-sm.rounded-circle(src="images/avatar_1_1.svg", alt="", style="width: 50px; height: 50px;")
          div.bg-primary.shadow-sm.rounded-4.p-4(style="max-width: 558px;") 
              p.text-light.lh-base.mb-2 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
              div.border-top.pt-1(style="border-color: #EFEFEF; opacity: .6")
                  p.small.m-0.text-white 3 минуты назад
      div.d-flex.gap-3.align-items-end.mb-5.mb-md-3
          img.d-none.d-md-block.shadow-sm.rounded-circle(src="images/avatar_4.jpg", alt="", style="width: 50px; height: 50px;")
          div.bg-light.shadow-sm.rounded-4.p-4(style="max-width: 558px;")
              h6.fw-bold.lh-base.mb-1 Вениамин Редакторович
              p.text-muted.lh-base.mb-2 о_О
              div.border-top.pt-1(style="border-color: #EFEFEF !important")
                  p.small.m-0.text-muted(style="opacity: .6") Только что
  footer.d-none.d-md-block.mx-5.sticky-bottom.bg-white
      .px-4.border-0.border-top
          form.position-relative
              input.w-100.border-0(style="height: 89px;", placeholder="Напишите сообщение...")
              button.d-flex.justify-content-center.align-items-center.rounded-circle.btn.btn-primary.position-absolute(style="width: 50px; height: 50px; top: 50%; transform: translateY(-50%); right: 0")
                  img(src="images/cursor.svg", alt="", style="width: 24px; height: 24px;")
  footer.d-md-none.fixed-bottom.bg-white(style="bottom: 73px")
      .px-4.border-0.border-top
          form.position-relative
              input.w-100.border-0(style="height: 72px;", placeholder="Напишите сообщение...")
              button.d-flex.justify-content-center.align-items-center.rounded-circle.btn.btn-primary.position-absolute(style="width: 50px; height: 50px; top: 50%; transform: translateY(-50%); right: 0")
                  img(src="images/cursor.svg", alt="", style="width: 24px; height: 24px;")