header  
    img(src="logo.png")
    div
        a( href="") 
            img(src="./images/people 2.png" alt")
            span Контакты
        a( href="")  
            img(src="chat 2.png")
            span Сообщения
        a( href="") 
            img(src="person 2.png")
            span Профиль
            