
header.nav.p-3.mb-2.bg-primary.text-white
    row 
        col-4
    div 
        img(alt="Hexlet" src="cursor.svg")     
        a.text-decoration-none( href="") 
            img(src="images/people 2.png")
            span.text-white Контакты
        a.text-decoration-none( href="")  
            img(src="chat 2.png")
            span.text-white Сообщения
        a.text-decoration-none( href="") 
            img(src="person 2.png")
            span.text-white  Профиль
     
            