header.p-3.bg-primary.text-light.sticky-top 
    div.d-flex.align-items-center
        img.me-2(alt="Hexlet" src="./images/logo.svg" style="width: 25px; height: 40px")
        ul.nav 
            li.nav-item
                a.nav-link.active.d-flex.align-items-center.small.text-decoration-none.gap-2(href="#contacts", data-bs-toggle="tab", data-bs-target="#contacts") 
                    img(src="images/people.svg" style="width: 25px; height: 25px")
                    span.text-light.small Контакты
            li.nav-item         
                a.nav-link.d-flex.align-items-center.small.text-decoration-none.gap-2(href="#chats", data-bs-toggle="tab", data-bs-target="#chats")  
                    img(src="images/chat.svg" style="width: 25px; height: 25px") 
                    span.text-light.small Сообщения
            li.nav-item
                a.nav-link.d-flex.align-items-center.small.text-decoration-none.gap-2(href="#profile", data-bs-toggle="tab", data-bs-target="#profile") 
                    img(src="images/person.svg" style="width: 25px; height: 25px")
                    span.text-light.small Профиль
           
     
