
header.nav.p-3.mb-2.bg-primary.text-white
    div 
        img(alt="Hexlet" src="./images/logo.svg" style="max-width: 20px;")     
        a.text-decoration-none( href="") 
            img(src="images/people.svg")
            span.text-white Контакты 
        a.text-decoration-none( href="")  
            img(src="images/chat.svg")
            span.text-white Сообщения
        a.text-decoration-none( href="") 
            img(src="images/person.svg")
            span.text-white  Профиль
     
            