header.p-3.mb-2.bg-primary.text-light.sticky-top 
    div.d-flex.align-items-center
        img(alt="Hexlet" src="./images/logo.svg" style="max-width: 16px;width: 100%")
        ul.nav 
            li.nav-item
                a.nav-link.active.d-flex.align-items-center.small.text-decoration-none.gap-1( href="#contacts", data-bs-toggle="tab", data-bs-target="#contacts") 
                    img(src="images/people.svg")
                    span.text-light Контакты
            li.nav-item         
                a.nav-link.d-flex.align-items-center.small.text-decoration-none.gap-1( href="#chats", data-bs-toggle="tab", data-bs-target="#chats")  
                    img(src="images/chat.svg") 
                    span.text-light Сообщения
            li.nav-item
                a.nav-link.d-flex.align-items-center.small.text-decoration-none.gap-1( href="#profile", data-bs-toggle="tab", data-bs-target="#profile") 
                    img(src="images/person.svg")
                    span.text-light Профиль
           
     
