header 
 a 
        img(src="logo.png")
    div
        a 
            img(src="./images/people 2.png" alt")
            span Контакты
        a  
            img(src="chat 2.png")
            span Сообщения
        a 
            img(src="person 2.png")
            span Профиль
            