
header.nav.p-3.mb-2.bg-primary.text-light 
    div.d-flex.gap-5.align-items-center
        img(alt="Hexlet" src="./images/logo.svg" style="max-width: 16px;width: 100%")
        .d-flex.gap-3     
            a.d-flex.align-items-center.gap-2.small.text-decoration-none( href="#contacts") 
                img(src="images/people.svg")
                span.text-light Контакты 
            a.d-flex.align-items-center.gap-2.small.text-decoration-none( href="#chats")  
                img(src="images/chat.svg") 
                span.text-light Сообщения
            a.d-flex.align-items-center.gap-2.small.text-decoration-none( href="#profile") 
                img(src="images/person.svg")
                span.text-light Профиль
     
