h2.mt-5.mb-4 Профиль
input.px-4.w-100.mb-5.border-0.border-bottom(style="height: 72px;", placeholder="Поиск по сообщениям")      
.card.px-3.py-5.text-center.border-0  
    img.rounded-circle.mx-auto(src="images/avatar_1 1.svg", alt="", style="width: 90px; height: 90px;")
    .card-body.p-2
        .card-title Кодовёнок Хекслетович
        .card-text.small.text-muted Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
.card.border-0.border-bottom
    .card-body.d-flex.justify-content-between.p-2
        div
            p.small.text-muted.m-0 Страна 
            p.small.m-0 Москва, Россия
        img(src="images/Vector.svg", alt="1")
.card.border-0.border-bottom
    .card-body.d-flex.justify-content-between.p-2
        div  
            p.small.text-muted.m-0 Телефон 
            p.small.m-0 +7 (499) 123-45-67
        img(src="images/Vector_2.svg", alt="1")
.card.border-0.border-bottom
    .card-body.d-flex.justify-content-between.p-2
        div 
            p.small.text-muted.m-0 Email 
            p.small.m-0 nikita.m@hexlet.io
        img(src="images/Vector_3.svg", alt="1")
.card.border-0.border-bottom
    .card-body.d-flex.justify-content-between.p-2
        div 
            p.small.text-muted.m-0 Twitter 
            p.small.m-0 @n_mikhaylov
        img(src="images/Vector_4.svg", alt="1")
