.pt-5.px-4.pb-5.pb-md-5.mb-5.mb-md-0
    h2.fw-bold.mb-4 Профиль
    input.px-4.w-100.mb-5.border-0.border-bottom(style="height: 72px;", placeholder="Поиск по сообщениям")      
    .px-3.text-center.border-0.mb-5(style="padding-top: 2.5rem; padding-bottom: 2.5rem")
        img.rounded-circle.mb-2(src="images/avatar_1 1.svg", alt="", style="width: 90px; height: 90px;")
        .p-2
            .lh-base.fw-bold.mb-4 Кодовёнок Хекслетович
            .lh-base.text-black-50 Милый и скромный помощник начинающих разработчиков. Люблю JavaScript

    .d-flex.justify-content-between.mx-4.px-3.py-2.border-0.border-bottom
        div
            p.small.text-black-50.m-0 Страна 
            p.small.m-0 Москва, Россия
        img(src="images/Vector.svg", alt="Страна")
    .d-flex.justify-content-between.mx-4.px-3.py-2.border-0.border-bottom
        div
            p.small.text-black-50.m-0 Телефон 
            p.small.m-0 +7 (499) 123-45-67
        img(src="images/Vector_2.svg", alt="Телефон")
    .d-flex.justify-content-between.mx-4.px-3.py-2.border-0.border-bottom
        div
            p.small.text-black-50.m-0 Email 
            p.small.m-0 nikita.m@hexlet.io
        img(src="images/Vector_3.svg", alt="Email")
    .d-flex.justify-content-between.mx-4.px-3.py-2.border-0.border-bottom
        div
            p.small.text-black-50.m-0 Twitter 
            p.small.m-0 @n_mikhaylov
        img(src="images/Vector_4.svg", alt="Twitter")